.row{"ng-controller" => "BoardsController", "ng-init" => "init()"}
  %h1
    {{ board.name }}

  .container
    = simple_form_for :list, url: "", method: nil, html: { class: "col-lg-8", name: "listForm", "ng-submit" => "createList()" } do |f|
      = f.input :name, label: "Name", input_html: { "ng-model" => "newList.name", "required" => "" }
      %div{"ng-show" => "listForm['list[name]'].$dirty && listForm['list[name]'].$invalid" }
        %span.has-error{"ng-show" => "listForm['list[name]'].$error.required"}
          Name is required.

      .form-group
        = f.button :submit, "Add", class: "btn btn-primary", "ng-disabled" => "listForm.$invalid"  

  .container
    %ul{"ui-sortable" => "sortableOptions", "ng-model" => "lists"}
      %li.board.col-lg-3{"ng-repeat" => "list in lists | orderBy: 'priority'" }
        %p
          priority {{ list.priority }}
          %a{href: "#", "editable-text" => "list.name", "onbeforesave" => "updateList(list.id, {name: $data})"}
            {{ list.name || 'empty' }}
          {{ list.id|| 'empty' }}
          %span.label.label-danger{"ng-click" => "destroyList(list.id)"}        
            Remove
        .cards{"ng-controller" => "CardsController as cardsCtrl", "ng-init" => "cardsCtrl.initWithService(list.board_id, list.id)"}
          %ul.cards-list{"ui-sortable" => "cardsCtrl.sortableOptions", "ng-model" => "cardsCtrl.cards", "data-list-id" => "{{list.id}}", "data-board-id" => "{{board.id}}"}
            %li{"ng-repeat" => "card in cardsCtrl.cards | orderBy: 'priority'", "data-card-id" => "{{card.id}}", "data-list-id" => "{{list.id}}" }
              %a{href: "#", "editable-text" => "card.name", "onbeforesave" => "cardsCtrl.updateCard(card.id, {name: $data})"}
                {{ card.name || 'empty' }}
              {{ card.priority }}
              %span.label.label-info.clickable{"ng-click" => "cardsCtrl.showCard(card)"}
                Details
              %span.label.label-danger.clickable{"ng-click" => "cardsCtrl.destroyCard(card.id)"}
                Remove

            %li.no-decoration{"ng-show" => "cardsCtrl.cards.length === 0"}
              &nbsp;
          = simple_form_for :card, url: "", method: nil, html: { class: "col-lg-8", name: "cardForList-list.id", "ng-submit" => "cardsCtrl.createCard()" } do |f|
            = f.input :name, label: "Name", input_html: { "ng-model" => "cardsCtrl.newCard.name", "required" => "" }